.statistics-author {
  &-title {
    display: flex;
    align-items: center;
    column-gap: 6px;
  }
}
.statistics-charts {
  &-title {
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0px 20px 0px;
  }
  &-main {
    display: flex;
    column-gap: 20px;
  }
  &-left {
    width: 209px;
    // height: fit-content;
    // border-radius: 12px;
    // padding: 20px;
    // border: 1px solid var(--border-color);
    // background-color: var(--bgColor);
    // box-shadow: 0px 2px 30px -2px var(--card-shadow);
  }
  &-right {
    flex: 1;
    margin-top: 5px;
  }
}

.static-menu {
  width: 209px;
  //position: fixed;
}
.tab-content {
  // width: calc(100% - 209px);
  // padding-left: 220px;
}

@media screen and (max-width: 1000px) {
  .statistics-charts {
    padding: 0px 12px 20px;
    .content {
      display: flex;
      flex-direction: column;
      .nav-wrap {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 44px;
        background: var(--mobile-bg-color);

        margin-inline: -12px;

        a {
          height: 44px;
          color: var(--mobile-title-color);
          font-size: 16px;
          line-height: 44px;
        }

        a.active {
          position: relative;
          color: var(--mobile-link-color);
          font-weight: 500;
        }

        a.active::after {
          position: absolute;
          bottom: 0px;
          left: 50%;
          width: 25px;
          height: 2px;
          border-radius: 2px;
          background: var(--mobile-link-color);
          content: '';
          transform: translateX(-50%);
        }
      }
    }

    .tab-content {
      row-gap: 20px;
    }

    :global {
      .gas-title {
        margin-right: 0;
        margin-left: 0;
      }
      .gas-table {
        padding: 0;
        border: unset;
        background-color: unset;
        box-shadow: unset;
      }
      .unit {
        color: var(--mobile-des-color);
        font-weight: 500;
        font-size: 12px;
        font-family: 'DINPro-Medium';
      }
    }
  }
}
