.banner{
    position: relative;
    width: 100%;
    height: 350px;
    background: linear-gradient(126deg, #181A1B 0%, #010101 100%);
    &_bg{
        &_bl{
        position: absolute;
        z-index: 0;
        bottom: 0px;
        width: 553px;
        height: 224px;
        background: linear-gradient(105deg, #8FD8F6 0%, #4E6EAC 56%, #001857 100%);
        opacity: 0.2;
        filter: blur(50px);
        }
        &_circle1{
        box-sizing: content-box;
        position: absolute;
        z-index: 0;
        top: 50px;
        right: 410px;
        width: 85px;
        height: 85px;
        border-radius: 50%;
        background: linear-gradient(355deg, #1764FF 0%, #16E5D8 100%);
        opacity: 0.58;
        filter: blur(4px);
        }
        &_circle2{
            box-sizing: content-box;
            position: absolute;
            z-index: 0;
            top: 185px;
            right: 10px;
            width: 130px;
            height: 130px;
            border-radius: 50%;
            background: linear-gradient(295deg, #1764FF 0%, #16E5D8 100%);
            opacity: 0.58;
            filter: blur(6px);
        }
    }

    &_search{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        position: absolute;
        z-index: 1;
        top: 102px;
        height: max-content;
        width: auto;
        left: 90px;
         & > &_input{
            width: 500px;
            height: 50px;
            color: var(--mobile-bgColor);
            font-size: 14px;
            background: rgba(255,255,255,0.04);
            border-radius: 5px;
            border: 1px solid rgba(255,255,255,0.5);
            backdrop-filter: blur(10px);
            &:placeholder-shown{
                font-family: PingFangSC-Regular, PingFang SC;
                font-weight: 400;
                color: var(--mobile-bgColor);
                font-size: 14px;
            }
        }
    }
    
   
    &_content{
        position: absolute;
        top: 73px;
        right: 66px;
        z-index: 1;
        width: 391px;
        height: 200px;
        background: rgba(64,64,65,0.3);
        border-radius: 17px;
        border-image: linear-gradient(133deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.6)) 1 1;
        backdrop-filter: blur(15.54545454545455px);
    }
}

