.wrap {
  .twitter,
  .network {
    border-width: 0.5px;
    svg {
      width: 14px;
      height:14px;

      fill:var(--font-color);
    }
  }

  .twitter:hover,.network:hover {
    background: var(--primary);
    color: #ffffff;
    svg {
      fill: var(--activeColor);
    }
  }
}

@media only screen and (max-width: 1000px) {
  .wrap {
    padding-bottom: 20px;

    padding-inline: 12px;
    .select {
      margin: 16px 0px 8px;
      width: 100%;
      height: 35px;

      :global {
        .ant-select-selector {
          height: 100% !important;
          border: 1px solid var(--mobile-divide-line) !important;
          border-radius: 6px;
          background-color: var(--mobile-bg-color-unimportant);
        }
      }
      
    }
    .content-wrap {
      display: grid;

      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
      .item-wrap {
        padding: 8px;
        width: unset;
        border-width: 0.5px;
        border-radius: 6px;
        .right {
          img {
            width: 26px;
            height: 26px;
          }
          .text {
            & > :first-child {
              overflow: hidden;
              max-width: 60px;
              text-overflow: ellipsis;
              white-space: nowrap;
              font-size: 13px;
            }
            & > :last-child {
              font-size: 11px;
            }
          }
        }

        .twitter,
        .network {
          padding: 3px;
          width: 20px;
          height: 20px;
          border: 1px solid var(--mobile-divide-line);
          border-radius: 4px;

          svg {
            width: 12px;
            height:12px;
      
          }
        }
      }
    }
  }
  .popupWrap {
    :global {
      .ant-select-item {
        font-weight: 400 !important;
        font-size: 12px;
      }
      .ant-select-item-option-selected{
        background-color: var(--mobile-bg-5) !important;
        color: var(--mobile-primary) !important;

      }
    }
  }
  
}
