.submenu_title {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 4px;
  svg {
    path {
      fill: var(--font-warn-color);
    }
  }
  &_icon {
    margin-top: 2px;
  }
}
