
@media screen and (max-width: 1000px){
  .account-balance{
    .title-label {
      font-size: 16px;
      column-gap: 4px;
    }
    .title-value {
      margin-left: 5px;
      font-size: 17px;
    }
    .chart{
      position: relative;
      width: 100%;
      height: 250px;
    }
    .title{
      padding:10px 12px;
    }
    .info{
      padding: 0px 12px 14px 12px;
      border-bottom: 1px solid var(--mobile-divide-line);
      :global{
        .account-balance{
          margin-top: 0px;
          max-height: unset;
        }
        .account-balance-item{
          justify-content: space-between;
          width: 100%;
        }
        .mt-24{
          margin-top: 0;
          height: auto;
        }
      }
    }
    :global{
      
      .flex-col{
        align-items: center;
        flex-direction: row;

        row-gap: 10px;
      }
    }
  }
}