@media screen and (max-width: 1000px) {
  .message {
    padding: 12px;

    .title-wrap {
      align-items: flex-start;
      flex-direction: column;
      margin-top: unset;

      row-gap: 5px;
    }
    .top-title {
      margin-right: 10px;
    }
    .trans,
    .detail {
      margin-bottom: 18px;
      :global {
        .link-row {
          display: block;
          .copy {
            padding-left: 5px;
  
          }
        }
        .card_shadow {
          padding: 12px;
        }
        .items-baseline {
          column-gap: 10px;
        }
        .flex-grow {
          &.overflow-auto {
            overflow: unset;
            color: var(--mobile-title-color);
            word-break: break-all;
            font-weight: 500;
            font-size: 15px;
            font-family: DINPro-Medium, DINPro;
            line-height: 14px;

            .code {
              pre {
                white-space: pre-wrap;
                &::first-line {
                  text-indent: -20px;
                }
              }
            }
          }
        }
      }
    }
    .title {
      margin-bottom: 10px;
      color: var(--mobile-title-color);
      font-weight: 500;
      font-size: 16px;
      font-family: PingFangSC-Medium, PingFang SC;
      line-height: 16px;
    }
    .card {
      margin-bottom: 10px;
      padding: 8px 0;
      border: 1px solid var(--mobile-divide-line);
      border-radius: 6px;
      background: var(--mobile-bg-color);
      .card-item {
        display: flex;
        padding: 12px;
        column-gap: 10px;
        .card-item-label {
          flex-shrink: 0;
          min-width: 90px;
          color: var(--mobile-des-color);
          font-weight: 400;
          font-size: 15px;
          font-family: PingFangSC-Regular, PingFang SC;
          line-height: 16px;
        }
        .card-item-value {
          color: var(--mobile-title-color);
          font-weight: 500;
          font-size: 16px;
          font-family: DINPro-Medium;
          line-height: 16px;
          :global {
            .text {
              color: var(--mobile-link-color);
              word-break: break-all;
              font-weight: 500;
              font-size: 16px;
              line-height: 21px;
            }
            .copy {
              padding-left: 5px;

              svg {
                font-size: 14px;
                line-height: 14px;
              }
              // img {
              //   display: inline-block;
              // }
            }
          }
        }
      }
    }
    :global {
      .copy-row {
        display: inline-block;
        align-items: center;
        .text {
          color: var(--mobile-link-color);
          word-break: break-all;
          font-weight: 500;
          font-size: 16px;
          line-height: 21px;
        }
        .copy {
          display: inline-block;
          align-items: center;
          padding-left: 5px;
          font-family: DINPro-Medium;
          img {
            display: inline-block;
          }
        }
      }
    }
  }
}

.message {
  .trans {
    margin-bottom: 18px;
  }
}
