@media screen and (max-width: 1000px){
    .message{
        padding: 12px;
        .trans,.detail{
            margin-bottom: 18px;
            :global{
               .link-row{
                    display: block;
                    .copy{
                        padding-left: 5px;
                        img{
                            display: inline-block;
                        }
                    }
                }
                .card_shadow{
                    padding: 12px;
                }
                .items-baseline{
                    column-gap: 10px;
                }
                .flex-grow{
                    &.overflow-auto{
                        font-size: 15px;
                        font-family: DINPro-Medium, DINPro;
                        font-weight: 500;
                        color: var( --mobile-title-color);
                        line-height: 14px;
                        word-break: break-all;
                        overflow: unset;

                        .code{
                            pre{
                                white-space: pre-wrap;
                                &::first-line {
                                    text-indent: -20px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .title{
            font-size: 16px;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 500;
            color: var( --mobile-title-color);
            line-height: 16px;
            margin-bottom: 10px;
        }
        .card{
            background: var(--mobile-bgColor);
            border-radius: 6px;
            border: 1px solid var(--mobile-divide-line);
            padding: 8px 0;
            margin-bottom: 10px;
            .card-item{
                display: flex;
                padding: 12px;
                column-gap: 10px;
                .card-item-label{
                    font-size: 15px;
                    font-family: PingFangSC-Regular, PingFang SC;
                    font-weight: 400;
                    color: var(--mobile-des-color);
                    line-height: 14px;
                    flex-shrink: 0;
                }
                .card-item-value{
                    font-size: 15px;
                    font-family: DINPro-Medium, DINPro;
                    font-weight: 500;
                    color: var( --mobile-title-color);
                    line-height: 14px;
                    :global{
                        .text{
                            word-break: break-all;
                            color: var(--mobile-link-color);
                        }
                        .copy{
                            padding-left: 5px;
                            img{
                                display: inline-block;
                            }
                        }
                    }
                }
            }
        }
        :global{
            .copy-row {
                .text {
                color: var(--mobile-link-color);
                word-break: break-all;
                }
                .copy {
                padding-left: 5px;
                img {
                    display: inline-block;
                }
                }
            }
        }
    }
}

.message {
    .trans{
        margin-bottom: 18px;
    }
}