@media only screen and (max-width: 1000px)  {
    .wrap {
        margin: unset;
        padding: unset;
        min-height: unset;
        border: unset;
        border-radius: unset;
        background: transparent;
        box-shadow: unset;
        }
    
}