@media only screen and (max-width: 1000px) {
  .title {
    padding: unset !important;
  }
  .chart-wrap {
    display: flex;
    flex-direction: column;
    padding: 12px;

    .chart {
      padding: unset;
      width: unset;
      height: 300px;
    }

    .dot {
      width: 8px;
      height: 8px;
    }
  }
}
