@media only screen and (max-width: 1000px) {
  .wrap {
    margin-top: 20px;

    row-gap: 20px;
    .title {
      margin: unset;
      padding: unset;
      height: unset;

      padding-block: 0px 10px;
    }

    .card-reset {
      overflow: unset;
      border: unset;
      border-radius: unset;
      box-shadow: unset;
    }
    .card {
      border: 1px solid var(--mobile-divide-line);
      border-radius: 6px;

      padding-inline: 12px;
      padding-block: 0px 15px;

      .echart {
        height: 280px;
      }
    }
    .legend-wrap {
      display: flex;
      flex-direction: column;

      row-gap: 10px;

      .legend-item {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .legend-item-left {
          display: flex;
          align-items: center;
          color: var(--mobile-des-color);
          font-size: 12px;
          column-gap: 6px;
          .legend-value {
            color: var(--mobile-title-color);
            font-weight: 500;
            font-family: "DINPro-Medium";
          }
        }
      }
    }
  }
}
