@media screen and (max-width: 1000px){
    .trend{
        margin-top: 0;
        transform: translateY(0);
        animation:none;
        :global{
            .chart-legend{
                padding: 15px;
            }
        }
    }
}