.contain {
  padding: 40px;
  border: 1px solid var(--border-color);
  border-radius: 12px;
  background: var(--bgColor);
}
.container_main {
  margin-top: 20px;
  width: 346px;
  &_item {
    line-height: 42px;
  }
}

.contain_header {
  display: flex;
  list-style: none;
  font-size: 16px;
  column-gap: 10px;
  &_link {
    color: var(--font_des);
  }
}
.go_register {
  display: flex;
  column-gap: 8px;
}
.remember {
  display: flex;
  justify-content: space-between;
}
.submit {
  margin-top: 40px;
  width: 100%;
}
.contain_input {
  height: 42px !important;
}
.active {
  color: var(--primary);
}

@media only screen and (max-width: 1000px) {
  .contain {
    padding: 30px 10px 200px 10px;
    height: calc(100vh - 120px);
    border: 0px;
    border-radius: 0px;
  }
  .container_main {
    width: 100%;
  }
}
