@media screen and (max-width: 1000px){
    .dsn-list{
        padding: 12px;
        .list-header{
            .search{
                width: auto !important;
            }
        }
        :global{
            .card_shadow{
                padding: 0;
                background-color:transparent;
                box-shadow:none;
                border-color:transparent;
                overflow:hidden;
            }
            .h-full{
                height: auto;
            }
            .border{
                border-width: 0;
                border-radius: 6px;
            }
            .ant-pagination{
                justify-content: flex-end;
            }
            .copy-row {
                display: inline-block;
                align-items: center;
                .text {
                    color: var(--mobile-link-color);
                    word-break: break-all;
                }
                .copy {
                    display: inline-block;
                    align-items: center;
                    padding-left: 5px;
                    img {
                        display: inline-block;
                    }
                }
            }
        }
    }
}