.active {
  &_header {
    height: 353px;
    background-color: plum;
  }
  &_title {
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 14px;
    font-weight: 500;
    margin: 20px 0px;
  }
  &_content {
    display: flex;
    width: 100%;
    height: 195px;
    padding: 0px 40px;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(
      180deg,
      rgba(23, 100, 255, 0.1) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    border-radius: 12px;
    border: 1px solid var(--border-color);
    &_otherItem {
      margin-top: -50px;
    }
    &_item {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      max-width: 230px;
    }
  }
  &_share {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    height: 58px;
    background: var(--bgColor);
    box-shadow: 0px 2px 30px -2px var(--card-shadow);
    border-radius: 12px;
    border: 1px solid var(--border-color);
    &_item {
      display: flex;
      column-gap: 6px;
    }
  }
  &_des {
    color: var(--font_des);
    font-size: 12px;
    text-align: center;
  }
  &_value {
    display: flex;
    align-items: center;
    column-gap: 4px;
    font-size: 16px;
    font-family: DINPro-Medium;
    font-weight: 500;
  }
}

.detail {
  font-weight: 400px;
  &_title {
    font-size: 12px;
    color: var(--font_des);
    cursor: pointer;
  }
  &_header {
    position: relative;
    font-size: 16px;
    text-align: center;
    font-family:
      PingFangSC,
      PingFang SC;
    font-weight: 600;
    margin-bottom: 10px;
    &_close {
      position: absolute;
      right: 0px;
      font-weight: 500;
      font-size: 14px;
      color: var(--font_des_unit);
      cursor: pointer;
    }
  }
  &_content {
    position: relative;
    padding: 14px 20px;
    margin-top: 10px;
    background: rgba(226, 186, 120, 0.1);
    border-radius: 5px;
    border: 1px solid #ffffff;

    &_icon {
      position: absolute;
      right: 0px;
      top: 0px;
      color: #f5c684;
    }
    &_title {
      font-size: 14px;
      font-weight: 500;
      color: #6d3f1a;
      margin-bottom: 10px;
    }
    &_item {
      display: flex;
      column-gap: 4px;
      align-items: center;
      color: #a56b3b;
      &:first-child {
        margin-right: 40px;
      }
    }
  }
  &_ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    row-gap: 10px;
  }
  &_expired {
    font-size: 11px;
    font-weight: 400;
    color: var(--font_des);
    margin-top: 10px;
  }
}

.activeShare {
  &_save {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    width: 416px;
    line-height: 48px;
    background: #d8d8d8
      linear-gradient(90deg, #a0fbc0 0%, #23d1e1 29%, #1c6afd 100%);
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
  }
}

.share {
  height: fit-content;
  width: max-content;
  background-color: transparent;
  &_top {
    position: relative;
    width: 416px;
    height: 580px;
    background-image: url('../../../assets/images/member/share_1.png');
    background-size: contain;
  }
  &_bottom {
    display: flex;
    column-gap: 20px;
    align-items: center;
    padding: 0px 20px;
    width: 416px;
    height: 146px;
    background-image: url('../../../assets/images/member/share_2.png');
    background-size: contain;
    &_title {
      font-size: 20px;
      font-weight: 500;
      color: #000000;
    }
    &_des {
      font-size: 14px;
      color: var(--font_des);
    }
    &_gift {
      display: flex;
      align-items: center;
      column-gap: 6px;
      &_text {
        font-size: 16px;
        font-weight: 500;
        color: #ff0e54;
        line-height: 40px;
        // background: linear-gradient(276deg, #ff0e54 0%, #ff6d31 100%);
        // -webkit-background-clip: text;
        // -webkit-text-fill-color: transparent;
      }
    }
  }
  &_main {
    position: relative;
    padding-top: 100px;
    padding-left: 20px;
  }

  &_content {
    position: relative;
    width: fit-content;
    padding: 28px 20px;
    color: #ffffff;
    background: linear-gradient(
      180deg,
      rgba(158, 195, 255, 0.3) 0%,
      rgba(62, 146, 255, 0.5) 100%
    );
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(7px);
    &_icon {
      position: absolute;
      width: 20%;
      height: 20%;
    }
    &_top {
      top: -1px;
      left: -1px;
      border-radius: 20px 0px 20px 0px;
      border-top: 1px solid #fff;
      border-left: 1px solid #fff;
    }
    &_bottom {
      bottom: -1px;
      left: -1px;
      border-radius: 0px 0px 0px 20px;
      border-left: 1px solid #fff;
      border-bottom: 1px solid #fff;
    }
    &_right {
      right: -0px;
      left: inherit;
      border-radius: 0px 20px 0px 0px;
      border: 1px solid;
      border-color: #fff #fff transparent transparent;
    }
    &_Bright {
      right: -0px;
      left: inherit;
      border-radius: 0px 0px 20px 0px;
      border: 1px solid;
      border-color: transparent #fff #fff transparent;
    }
    &_title {
      font-size: 22px;
      //font-family: HarmonyOS_Sans_Bold;
      color: #ffffff;
      font-weight: 500;
    }
    &_item {
      display: flex;
      align-items: center;
      column-gap: 10px;
      font-size: 18px;
    }
  }
  &_target {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px 0px 35px 0px;
    &_image {
      width: 90%;
    }
    // font-size: 40px;
    // font-weight: bold;
    // color: #ffffff;
    // background: linear-gradient(118deg, #fffbba 0%, #aaffbe 100%);
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
  }
  &_invite {
    display: flex;
    font-size: 22px;
    padding-left: 20px;
    color: rgba(158, 195, 255, 0.6);
    &_content {
      display: flex;
      list-style: none;
      margin-left: 10px;
    }
    &_item {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 5px;
      width: 40px;
      height: 40px;
      text-align: center;
      color: #fff;
      border-radius: 7px;
      color: #ffffff;
      background-color: rgba(158, 195, 255, 0.6);
    }
  }
}

.send {
  position: relative;
  &_icon {
    position: absolute;
    top: -20px;
    left: 10px;
    display: flex;
    align-items: center;
    padding: 5px;
    font-size: 10px;
    color: #ffffff;
    font-weight: 200;
    width: fit-content;
    border-radius: 3px;
    height: 16px;
    background: linear-gradient(105deg, #f55520 0%, #e73b3b 100%);
    &::after {
      position: absolute;
      bottom: -7px;
      content: '';
      width: 0;
      border-width: 4px;
      border-style: solid;
      border-color: #f55520 transparent transparent transparent;
    }
  }
}
