@media screen and (max-width: 1000px) {
  .list {
    .list-header {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: flex-start;
      margin-right: unset;
      .select-wrap {
        margin-top: 10px;
        width: 100%;
      }
    }

    .reset {
      overflow: unset;
      margin-top: unset;
      padding: unset;
      min-height: unset;
      border: unset;
      border-radius: unset;
      background: unset;
      box-shadow: unset;
    }
    .table {
      padding-top: 10px;
      :global {
        .ant-pagination {
          justify-content: flex-end;
        }
      }
    }
  }
}
