@media only screen and (max-width: 1000px) {
  .footer-wrap {
    display: flex;
    flex-direction: column;
    padding: 20px 12px;
    background: var(--mobile-footer-bg);

    row-gap: 18px;

    .top {
      display: flex;
      align-items: center;
      column-gap: 4px;

      &>:first-child{
        width: 21px;
        height: unset;

        aspect-ratio: 1.0968;
      }
      &>:last-child {
        width: unset;
        height: 10px;

        aspect-ratio: 5.9;
      }
    }
    .text {
      color: var(--mobile-text-60);
    }
    .bottom {
      display: flex;
      column-gap: 10px;

      img {
        width: 24px;
        height: 24px;
      }
    }
  }
}
