@media only screen and (max-width: 1000px) {
  .wrap {
    margin-top: 20px;

    margin-inline: 12px;
    .title-wrap {
      display: flex;
      flex-direction: column;
      padding-top: 15px;

      row-gap: 8px;

      .title {
        color: var(--mobile-title-color);
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
      }

      .time {
        margin-top: 8px;
        color: var(--mobile-des-color);
        font-size: 12px;
        line-height: 12px;
      }
    }
    .table-wrap {
        margin: unset;
        margin: 10px 0 15px 0px;
        padding: unset;
        border: unset;
        border: 1px solid var(--mobile-divide-line);
        border-radius: 6px;
        box-shadow: unset;
        
    }
  }
}
