@media screen and (max-width: 1000px){
    .chain-list{
        padding: 12px;
        :global{
            .card_shadow{
                padding: 0;
                background-color:transparent;
                box-shadow:none;
                border-color:transparent;
                overflow:hidden;
            }
            .h-full{
                height: auto;
            }
            .border{
                border-width: 0;
                border-radius: 6px;
            }
        }
        .ant-pagination{
            justify-content: flex-end;
        }
    }
    .block-list{
        .block-item{
            background: var(--mobile-bgColor);
            border-radius: 6px;
            border: 1px solid var(--mobile-divide-line);
            margin-bottom: 10px;
            &:last-child{
                margin-bottom: 0;
            }
            .height{
                display: flex;
                align-items: center;
                border-bottom: 1px solid var(--mobile-divide-line);
                padding: 17px 12px;
                .label{
                    font-size: 16px;
                    font-family: PingFangSC-Regular, PingFang SC;
                    font-weight: 400;
                    color: #666666;
                    line-height: 15px;
                    margin-right: 15px;
                }
                .link{
                    font-size: 18px;
                    font-family: DINPro-Medium, DINPro;
                    font-weight: 500;
                    color: var(--mobile-link-color);
                    line-height: 18px;
                    margin-right: 8px;
                }
                .time{
                    font-size: 12px;
                    font-family: DINPro-Medium, DINPro;
                    font-weight: 500;
                    color: var(--mobile-des-color);
                    line-height: 12px;
                }
            }
            .rewards{
                padding: 5px 0;
                .reward-item{
                    display: flex;
                    align-content: center;
                    justify-content: space-between;
                    padding: 12px;
                    font-size: 14px;
                    font-family: DINPro-Medium, DINPro;
                    font-weight: 500;
                    color: var( --mobile-title-color);
                    line-height: 14px;
                }
            }
        }
    }
}