@media screen and (max-width: 1000px) {
  .detail-content {
    padding: 0;
    .item-wrap {
      align-items: baseline;
      padding: 8px 12px;
      .value {
        a {
          word-break: break-all;
        }
        img {
          display: inline-block;
        }
      }
    }
    .message-content-value{
      width: 100%;
      word-break: break-all;
      :global{
        .pre{
          word-break: break-all;
        }
      }
    }

    :global {
      .text_des {
        color: var(--mobile-des-color);
        font-weight: 400;
        font-size: 15px;
        font-family: PingFangSC-Regular, PingFang SC;
        line-height: 14px;
      }
    }
  }
}
