@media screen and (max-width: 1000px) {
  .detail-content {
    padding: 0;
    .item-wrap {
      align-items: center;
      padding: 8px 12px;
      .value {
        a {
          word-break: break-all;
        }
        img {
          display: inline-block;
        }
      }
    }

    :global {
      .text_des {
        color: var(--mobile-des-color);
        font-weight: 400;
        font-size: 15px;
        font-family: PingFangSC-Regular, PingFang SC;
        line-height: 14px;
      }
      .copy-row {
        display: inline-block;
        align-items: center;
        .text {
          color: var(--mobile-link-color);
          word-break: break-all;
        }
        .copy {
          display: inline-block;
          align-items: center;
          padding-left: 5px;
          img {
            display: inline-block;
          }
        }
      }
    }
  }
}
