@media screen and (max-width: 1000px) {
  .detail-content {
    padding: 0;

    .item-wrap {
      align-items: center;
      .value {
        line-height: normal;
        a {
          width: 100%;
          word-wrap: break-word;
        }
      }
    }

    :global {
      .text_des {
        color: #b3b3b3;
        font-weight: 400;
        font-size: 15px;
        font-family: PingFangSC-Regular, PingFang SC;
        line-height: 14px;
      }
      .copy-row {
        .text {
          color: #1d6bfc;
          word-break: break-all;
        }
        .copy {
          padding-left: 5px;
          img {
            display: inline-block;
          }
        }
      }
    }
  }
}
