
@media screen and (max-width: 1000px){
  .pow{
    padding: 0;
    width: auto;
    height: auto;
    .row{
      display: flex;
      align-items: center;
      flex-direction: row;
      padding-top: 8px;
      padding-bottom: 8px;
      &.between{
        justify-content: space-between;
        padding-right: 12px;
        padding-left: 12px;
      }
      &.between>:last-child {
        justify-content: flex-end;
        &>:last-child{
          width: fit-content;
        }
      }
      :global{
        .text_des{
          flex-shrink: 0;
        }
      }
      .value{
        padding-left: 3px;
        color: var(--mobile-title-color);
        font-weight: 500;
        font-size: 15px;
        font-family: DINPro-Medium, DINPro;
        line-height: 18px;
      }
    }

    .column{
      flex-direction: column;
      flex-wrap: nowrap;
      margin-top: unset;
      padding: 0 12px;
      max-height:none;
      .full{
        display: flex;
        justify-content: space-between;
        width: 100%;
      }
    }


    .status{
      align-items: flex-start;
      flex-direction: column;
      margin-top: 15px;
      padding: 15px 12px 15px;
      border-top:1px solid var(--mobile-divide-line);
      .status-row{
        padding-top: 10px;
      }
    }

    :global{
      .pb-7{
        padding-bottom: 0;
        border-bottom: none;
      }
      .mt-9{
        margin-top: 0;
      }
    }
  }
}