@media screen and (max-width: 1000px) {
  .mobile-table {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    padding-bottom: 10px;

    row-gap: 10px;
    .mobile-table-card {
      padding: 8px 0;
      border: 1px solid var(--mobile-divide-line);
      border-radius: 6px;
      background: var(--mobile-bg-color);
      &:last-child {
        margin-bottom: 0;
      }
      .mobile-table-card-item {
        display: flex;
        align-items: center;
        padding: 12px;

        .mobile-table-card-item-label {
          display: flex;
          flex: 2;
          max-width: 40%;
          color: var(--mobile-des-color);
          word-break: break-word;
          font-weight: 400;
          font-size: 15px;
        }
        .mobile-table-card-item-value {
          flex: 3;
          color: var(--mobile-title-color);
          font-weight: 500;
          font-size: 15px;
          font-family: "DINPro-Medium";
        }
      }
    }

    .pagination {
      display: flex;
      justify-content: flex-end;
      width: 100%;
    }
  }
}
