@media screen and (max-width: 1000px) {
  .pool-message-list {
    padding: 12px;
    .title-wrap {
      align-items: flex-start;
      flex-direction: column;

      margin-inline: unset;
      .select {
        margin-top: 5px;
        width: 100%;
      }
    }
    :global {
      .card_shadow {
        overflow: hidden;
        padding: 0;
        border-color: transparent;
        background-color: transparent;
        box-shadow: none;
      }
      .h-full {
        height: auto;
      }
      .border {
        border-width: 0;
        border-radius: 6px;
      }
      .ant-pagination {
        justify-content: flex-end;
      }
    }
  }
}
