@media screen and (max-width: 1000px){
    .address{
        padding: 12px;
        .content {
            padding: 12px;
            border-radius: 6px;
        }
        .address-row{
            display: flex;
            .label{
                display: none;
            }
        }
        .text{
            margin-left: 0;
            word-break: break-all;
        }

        :global{
            .h-9{
                height: auto;
            }
            .p-7{
                height: auto;
            }
            .flex-col{
                flex-direction: column;
                flex-wrap: nowrap;
                .flex{
                    &.items-baseline{
                        align-items: flex-start;
                        padding: 12px 25px;
                        width: auto !important;
                    }
                }
                .h-9{
                    height: auto;
                }
            }
        }
    }
}