@media only screen and (max-width: 1000px) {
  .wrap {
    .title {
      padding: 18px 0px 10px 0px;
      font-weight: 500;
      font-size: 16px;
      font-family: 'HarmonyOS_Medium';
    }
    .content {
      overflow: hidden;
      border: 1px solid #eeeff1;
      border-radius: 6px !important;
      background: white;
    }
  }
  .rank-icon {
    font-family: HarmonyOS_Medium;
  }
}
