@media screen and (max-width: 1000px){
    .nft{
        padding: 12px;
        .mobile-column{
            flex-direction: column;
        }
        :global{
            .nft-title{
                margin-bottom: 10px;
            }
            .nft-card{
                margin-bottom: 18px;
            }
            .ant-pagination{
                justify-content: flex-end;
            }


            .copy-row {
                display: inline-block;
                align-items: center;
                .text {
                    color: var(--mobile-link-color);
                    word-break: break-all;
                }
                .copy {
                    display: inline-block;
                    align-items: center;
                    padding-left: 5px;
                    img {
                        display: inline-block;
                    }
                }
            }
        }
    }
}