.banner{
    margin-top: 10px;
    margin-bottom: 12px;
    padding: 0 12px;
    width: 100%;
    :global{
        .ant-carousel{
            .slick-slide{
               overflow: hidden;

               aspect-ratio: 3;
            }
        }
    }
}