.banner{
    width: 100%;
    margin-bottom: 12px;
    :global{
        .ant-carousel{
            .slick-slide{
                height: 122px;
                background: linear-gradient(278deg, #00B1B6 0%, #2D46F9 100%);
                border-radius: 6px;
            }
        }
    }
}