// 适配全局包裹组件
.component{
    flex: 1;
    width: 100%;
}

@media only screen and (min-width: 1000px){
    .component{
     margin-top: -10px;
}


}

@media only screen and (max-width: 1000px) {
    .home {
        padding-top: 120px;
    }
 
    .other {
        padding-top: 120px;
    }

    .title {
        position: fixed;
        z-index: 11;
        margin-top: 44px;
        padding: 0px 12px;
        width: 100%;
        background: var(--mobile-bg-color);;
        &>:first-child {
           background: linear-gradient(39deg, #1764FF 0%, #16CDE5 89%, #99F6AF 100%, #99F6AF 100%);
            -webkit-background-clip: text;
            color: #333333;
            font-weight: bold;
            font-size: 14px;
            font-family: "DINPro-Bold";

            -webkit-text-fill-color: transparent;
        }
        &>:last-child {
            color: var(--mobile-title-color);
            font-weight: 500;
            font-size: 13px;
        }
    }

    .search {
        margin-top: 74px;
    }
}