
.title {
    padding: 0px 12px;
    background: var(--mobile-bgColor);
    &>:first-child {
       background: linear-gradient(39deg, #1764FF 0%, #16CDE5 89%, #99F6AF 100%, #99F6AF 100%);
        -webkit-background-clip: text;
        color: #333333;
        font-weight: bold;
        font-size: 14px;
        font-family: "DINPro-Bold";

        -webkit-text-fill-color: transparent;
    }
    &>:last-child {
        color: var(--mobile-title-color);
        font-weight: 500;
        font-size: 13px;
    }
}