@media screen and (max-width: 1000px){
    .home-page{
        padding-bottom: 30px;
        width: 100%;
        .content {
            margin-top: 4px !important;
            .gas-wrap {
                border-radius: 6px;
            }
        }
        .chart-title{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 12px 12px 12px 16px;
            .label{
                flex-shrink: 0;
                color: var(--mobile-title-color);
                font-weight: 500;
                font-size: 14px;
                font-family: DINPro-Medium, DINPro;
                line-height: 12px;
            }
        }
        :global{
            .main_contain{
                .meta-gas{
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 10px;
                    padding: 0 12px;
                    height: auto;

                    row-gap: 10px;
                    .gas-wrap{
                        width: 100%;
                    }
                }
                .box-column{
                    display: flex;
                    flex-direction: column;
                    margin-top: 0;
                    padding: 0 12px;
                    height: auto;

                    row-gap:10px;
                }
            }
        }
    }
}