@media screen and (max-width: 1000px){
    .home-page{
        width: 100%;
        :global{
            .main_contain{
                .meta-gas{
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 18px;
                    height: auto;

                    row-gap: 10px;
                    .gas-wrap{
                        width: 100%;
                    }
                }
                .box-column{
                    display: flex;
                    flex-direction: column;
                    margin-top: 0;
                    height: auto;

                    row-gap:18px;
                }
            }
        }
    }
}