@media only screen and (max-width: 1000px) {
  .miner {
    padding: 12px;
    .column {
      display: flex;
      flex-direction: column;
    }

    .owner-wrap {
      .owner-item-reset {
        align-items: unset;
      }
      .owner-item {
        flex-direction: column;

        row-gap: 10px;
      }
      :global {
        .owner {
          display: inline-block;
          word-break: break-all;

          span {
            display: inline-block;
            margin-top: 1px;
            margin-left: 5px;
          }
        }
      }
    }

    .bottom {
      flex-direction: column;
    }
  }
}
