.draggable {
  width: 100%;
  overflow: auto;
  cursor: grab;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}

.draggable::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}