

.cwContain{
            display: flex;
            height: 450px;
            padding: 20px 0px;
            color: var(--font_des); 
            font-family: DINPro-Medium, DINPro;
            border-radius: 12px;
            border: 1px solid var(--border-color);  
            background-color: var(--bgColor);
         &_left,&_right{
              display: flex;
              flex-direction: column;
              row-gap: 20px;  
              font-size: 12px;        
              }            
         &_left{
              min-width: 100px;
              align-items: end;
              &Item{
              position: relative;
              display: flex;
              align-items: center;
              height: 74px;
              min-height: 74px;
              padding-right: 15px;
              &::before{
                content: '';
                position: absolute;
                right: -1px;
                width: 1px;
                height: calc(100% + 20px);
                border:1px dashed var(--border-color); ;
              }
                 &::after{
                            content: '';
                            position: absolute;
                            right: -5px;
                            width: 10px;
                            height: 10px;
                            border-radius: 5px;
                            background-color: var(--bgColor);
                            border: 2px solid var(--border-color);
                     }
                  }
               }  
              &_right{
               width: calc(100% - 100px);
              }
              &_rightContent{
                            position: relative;
                            display: flex;
                            width: fit-content;
                            margin: auto;
                             height: 74px;
                            border-radius: 5px;
                           
                            &_orphan,&_content{
                              display: flex;
                              &_Item{
                                  display: flex;
                                  flex-direction: column;
                                  align-items: center;
                                  padding:4px 8px;
                                  margin: 8px 0px 8px 8px;
                                
                                  &:last-child{
                                    margin: 8px;
                                  }
                                  &_heightMiner{
                                    color: var(--font-color);
                                    }
                                  }
                            }
            
                            &_orphan{
                              background-color: var(--cw-bgDesColor);
                              margin-right: 40px;
                              &_Item{
                              background-color: var(--cw-bgColor);
                              }
                            }
                            &_content{
                              position: relative;
                              width: fit-content;
                               &::after{
                                content: '';
                                position: absolute;
                                bottom: -10px;
                                left: 50%;
                                width: 14px;
                                height: 6px;
                                border-radius: 2px;
                                transform: translate(-50%,0);
                                background-image: url('../../assets/images/cwDown.svg');  
                                background-size: contain;  
                                background-repeat: no-repeat;  

                            }
                               &_Item{
                                background-color: var(--bgColor);
                              }
                            }
                           
                  
                           
               } 
}