.wrap {
  .title {
    padding: 10px 0px;
    font-size: 16px;
    font-family: "DINPro-Medium";
  }
  .content {
    border: 1px solid #eeeff1;
    border-radius: 6px !important;
    background: white;
  }
}
