@media only screen and (max-width: 1000px) {
  
  .wrap {
    position: relative;
  }

  .wrap::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    border: 1px solid var(--mobile-divide-line);
    border-radius: 6px;
    background: rgba($color: #fff, $alpha: 0.73);
    color: var(--mobile-text-minor);
    content: attr(data-content);
    font-size: 15px;

    backdrop-filter: blur(4px);
  }
}
