
@function px-to-rem($px, $base-font-size: 16px) {
  @return #{$px / $base-font-size}rem;
}
a{
  &:hover{
    color: #1C6AFD !important;
  }
}

.container_body{
    background-color: var(--bgColor);
}  

//色值改变
.card_bg_color{
  background-color: var(--bgColor);
}
.des_bg_color{
  background-color: var(--bgDesColor);
}
.text_color{
   color: var(--font-color);
  
}
.text_des{
   color: var(--font_des);
}

.text_des_hover{
   color: var(--font_des);
    &:hover{
    color: var(--font-color);
   }
}
.border_color{
  border-color: var(--border-color);
}


/*shadow*/
.card_shadow{
  overflow: auto;
  background-color: var(--bgColor);
  box-shadow: 0px 2px 30px -2px var(--card-shadow)
}

.select_shadow{
  box-shadow: 0px 1px 13px -3px var(--select-shadow)
}
.tab_shadow{
  box-shadow: 2px 0px 5px 0px var(--tab-shadow);
}


/*主题文字渐变text*/
.clip_text{
    background: linear-gradient(279deg, #0052F8 0%, #0A96E9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*找到锚点，文字高亮*/
.highlight{
  color: var(--font-color);
}


/*文字渐变*/
.text_clip{
  background: linear-gradient(131deg, #131254 0%, #000000 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/*子元素不渐变*/
.solid_text {
  display: block;
 background: none;
-webkit-background-clip: initial; 
}

.text_green{
    color:#4ACAB4
}

.text_red{
    color: #E15252;
    -webkit-text-fill-color: #E15252; 
}


.fade-in {
  animation: fadeInUp 1s forwards;
  transform: translateY(px-to-rem(-80px));
}
/* 向上滑动*/
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  100% {
    opacity: 1;
    transform: translateY(px-to-rem(-80px));
  }
}

/* progress mark*/
.mark{
  background-color: var(--bgColor);
  opacity: 0.7;
}
/*//主题色*/
.text_primary{
  color:#1C6AFD ; 
}

/*rank icon*/
.rank_icon{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  
  width: 20px;
  height: 20px;
  background: var(--font-color);
  color: var(--bgColor);
  border-radius: 6px;
  font-size: 11px;
  font-family: DINPro-Bold;
  font-weight: bold;
}

    
.link_text{
 font-family: DINPro-Medium, DINPro;
font-weight: 500;
color: #1C6AFD;
font-size: 14px;
cursor: pointer;
  &:hover{
    color: #1C6AFD;
  }
}





.animated-div {
  animation: myAnimation 6s linear infinite;
  /* animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate; */
}

@keyframes myAnimation {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(10px, -10px);
  }
  50% {
    transform: translate(-10px, 10px);
  }
  75% {
    transform: translate(-10px, -10px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes myAnimation1 {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-10px, 10px);
  }
  50% {
    transform: translate(10px, -10px);
  }
  75% {
    transform: translate(-0px, 10px);
  }
  100% {
    transform: translate(0, 0);
  }
}


.animated-div1{
    animation: myAnimation1 6s linear infinite;

}


