.container_body{
    background-color: var(--bg_color);
}  

.box-shadow{
    box-shadow: var(--box-shadow);
}

.text_green{
    color:#4ACAB4
}
.text_red{
    color: #E15252;
}
.text_primary{
    color:#1C6AFD ; //主题色
}
     
