


@font-face {
  font-family: "DINPro"; /* Project id 1544881 */
  src: url('../assets/font/din/DINPro-Regular.otf');
font-display: auto;
}
@font-face {
  font-family: "DINPro-Bold"; /* Project id 1544881 */
  src: url('../assets/font/din/DINPro-Bold.otf');
font-display: auto;
}

@font-face {
  font-family: "DINPro-Medium"; /* Project id 1544881 */
  src: url('../assets/font/din/DINPro-Medium.otf');
font-display: auto;
}

// @font-face {
//   font-family: 'Beirut';
//   src: url('../assets/fonts/Beirut.ttc');
//   font-display: auto;
// }

//layout
.custom_header{
    background-color: var(--bgColor) !important;
    color: var(--font-color) !important;
}
//custom_menu
.custom_menu{
    .ant-menu-sub{
        background-color: transparent !important;
    }
    .ant-menu-submenu{
        width: calc(100% - 40px);
        margin: auto;
        > .ant-menu-submenu-title{
            border-radius: 0px !important;
            padding: 0px 20px !important;
           
        
        }
    }
  
    .ant-menu-item{
         color:  var(--font_des) !important;
        &:hover{
            background-color: transparent !important;
            color: var(--primary) !important;
        }
    }
      .ant-menu-item-selected{
        color: var(--primary) !important;
        background-color: var( --bg_hover) !important;
        &:hover{
            background-color: var( --bg_hover) !important;
        }
    }
}
.custom_form{
    .ant-form-item-row{
       height: 100%;
       .ant-form-item-control{
        height: 100%;
        .ant-form-item-control-input{
            height: 100%;
        }
        .ant-form-item-control-input-content{
            height: 100%;
            .ant-input-affix-wrapper{
                height: 100%;
            }
        }
       }
    }
}


//table 
.custom_table{
    width: 100%;
    .ant-table{
        .ant-table-content{
            .ant-table-thead{
                .ant-table-cell{
                    background-color: transparent ;
                    border-bottom:none;
                    &::before{
                        display: none;
                    }
                    .ant-table-column-sorters{
                        justify-content:flex-start;
                        .ant-table-column-title{
                            width: fit-content;
                            flex: none;
                        }
                    }
                }
            }
            .ant-table-tbody{
                .custom_table_row{
                    .ant-table-column-sort{
                        background-color: transparent;
                        &:hover{
                            background-color: #fafafa;
                        }
                    }
                    &:last-child{
                     .ant-table-cell{
                        border-bottom:none;
                    } 
                    }
                }
            }
        }
    }
}

//骨架屏
.skeleton_Input{
    width: 60px !important;
    height: 28px !important;
    min-width: 50px !important;
    >.ant-skeleton-input{
        min-width:50px
    }
}