
@function px-to-rem($px, $base-font-size: 16px) {
  @return #{$px / $base-font-size}rem;
}

@font-face {
  font-family: "DINPro"; /* Project id 1544881 */
  src: url('../assets/font/din/DINPro-Regular.otf');
font-display: auto;
}
@font-face {
  font-family: "DINPro-Bold"; /* Project id 1544881 */
  src: url('../assets/font/din/DINPro-Bold.otf');
font-display: auto;
}

@font-face {
  font-family: "DINPro-Medium"; /* Project id 1544881 */
  src: url('../assets/font/din/DINPro-Medium.otf');
font-display: auto;
}


//layout
.custom_header{
    background-color: var(--bgColor) !important;
    color: var(--font-color) !important;
}
//custom_menu
.custom_menu{
    .ant-menu-sub{
        background-color: transparent !important;
    }
    .ant-menu-submenu{
        width: calc(100% - 40px);
        margin: auto;
        > .ant-menu-submenu-title{
            border-radius: 0px !important;
            padding: 0px 20px !important;
           
        
        }
    }
  
    .ant-menu-item{
         color:  var(--font_des) !important;
        &:hover{
            background-color: transparent !important;
            color: var(--primary) !important;
        }
    }
      .ant-menu-item-selected{
        color: var(--primary) !important;
        background-color: var( --bg_hover) !important;
        &:hover{
            background-color: var( --bg_hover) !important;
        }
    }
}

.custom_form{
    .ant-form-item{
        &-label{
            color: var(--font-color);
            label{
            color: var(--font-color);

            }
        }
    }
   
    .ant-form-item-row{
       height: 100%;
       .ant-form-item-control{
        height: 100%;
        .ant-form-item-control-input{
            height: 100%;
        }
        .ant-form-item-control-input-content{
            height: 100%;
            .ant-input-affix-wrapper{
                height: 100%;
                background-color: transparent !important;
                .ant-input{
                    &::value{
                        background-color: var(--bgColor) !important;
                    }
                }
            }
        }
       }
    }
}

//input 

.custom_input{
    height: 32px;
    color: var(--font-color) !important;
    background-color: var(--bgDesColor) !important; 
     border: 1px solid var(--border-color) ;
     .anticon{
        color: var(--font-color) ;
     }
    .ant-input-show-count-suffix{
         color: var(--font-color) !important;
    }
     input{
        color: var(--font-color);   
        &::placeholder{
            color: var(--font_des_unit);   
        }
     }
     &:hover{
         border: 1px solid var(--primary) !important;
     }

}



.ant-input-affix-wrapper{
 border: 1px solid var(--border-color) !important;
}
.ant-input{
    background-color: transparent !important;
    border-color: var(--border-color);
   
}
.custom_input_banner{
   border: 1px solid rgba(255,255,255,0.5) !important;
     background: rgba(255,255,255,0.04) !important;
    .ant-input{
        &::placeholder{
            color:  rgba(255,255,255,0.5);
        }
       color: #ffffff;
            border-radius: 5px 
   
}
}



//table 
.custom_table{
    width: 100%;
    .ant-table{
        background-color: transparent !important;
        .ant-table-content{
             background-color: var(--bgColor);
            .ant-table-thead{
                .ant-table-cell{
                    background-color:  var(--bgColor) ;
                    border-bottom:none;
                    font-size: px-to-rem(12px);
                    font-family: PingFangSC-Medium, PingFang SC;
                    font-weight: 500;
                    color: var(--font_des);
                        padding: 10px ;
                    &::before{
                        display: none;
                    }
                    .ant-table-column-sorters{
                        .ant-table-column-sorter{
                            .ant-table-column-sorter-inner{
                                .ant-table-column-sorter-up,.ant-table-column-sorter-down{
                                    font-size: 10px !important;
                                }
                                
                            }
                             color: var(--font_des);
                        }
                        justify-content:flex-start;
                        .ant-table-column-title{
                            width: fit-content;
                            flex: none;
                        }
                    }
                }
            }
            .ant-table-tbody{
                .ant-table-cell-fix-left{
                    background-color: var(--bgColor);
                     &:hover{
                        .ant-table-cell{
                            background-color:  var(--table-hove) !important;
                        }
                      
                    }
                }
                .ant-table-placeholder{
                        background-color:  var(--bgColor) ;
                    .ant-empty-description{
                         color: var(--font_des);
                    }
                    .ant-table-cell{
                        border-bottom: none;
    
                    }
                    &:hover{
                        .ant-table-cell{
                            background-color:  var(--table-hove) !important;
                        }
                      
                    }
                }
                .custom_table_row{
                     &:hover{
                        .ant-table-cell{
                            background-color: var( --table-hover) !important;
                        }
                        .ant-table-column-sort{            
                             background-color:  var( --table-hover) !important ;
                        }
                        }
                        
                        .ant-table-column-sort{
                            background-color:  transparent;
                        }
                        .ant-table-cell{
                        height: 58px;
                        font-family: DINPro-Medium, DINPro;
                        font-weight: 500;
                        color:var(--font-color);
                        padding: 10px;
                        border-bottom:1px solid var(--border-color);
                        &:hover{
                            background-color: var( --table-hover) !important;
                        }
                    }
                    &:last-child{
                     .ant-table-cell{          
                        border-bottom:none;
                    } 
                    }
                }
            }
        }
    }
}

//custom_table_tooltip
  .ant-tooltip {
     .ant-tooltip-arrow{
        &::after{
             background-color: var(--tips-bgColor)!important;
        }
        &::before{
            background-color: var(--tips-bgColor)!important;
        }
    }
    .ant-tooltip-inner{
        background-color: var(--tips-bgColor)!important;
        color: var(--font-color) !important;
    }
  }

//ant-pagination
.ant-pagination{
    display: flex;
    align-items: center;
    .ant-pagination-prev,.ant-pagination-next{
        width: 28px !important;
        min-width: 28px !important;
        height: 28px !important;
        border: 1px solid var(--border-color);
        .ant-pagination-item-link{
            color: var(--font-color) !important;
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
        }

    }
    .ant-pagination-item{
        // width: 28px;
        height: 28px;
        min-width: 28px;
        min-height: 28px;
        display: flex;
        align-items: center !important;
        justify-content: center !important;
        border: 1px solid var(--border-color) !important;

        a{
             color: var(--font-color);
             font-weight: 400;
        }
    }
    .ant-pagination-item-active{
        background-color: var(--primary) !important;
        a{
             color: #ffffff !important;
        }
    }
    .ant-pagination-options{
     margin-inline-start:10px;
    }
   
}
.ant-pagination-options-quick-jumper{
    color: var(--font-color);
     input{
       width: 40px !important;
    height: 28px !important;
    color: var(--font-color) !important;
    margin-inline-start:4px !important;
    background-color: var(--bgColor) !important;
    border-color: var(--border-color) !important;
}

}


//custom_message
.ant-message{
    .ant-message-custom-content{
        display: flex;
    }
       .ant-message-notice-error{
         .ant-message-notice-content{
           // background: rgba(225,82,82,0.09) !important;
            border-radius: 5px;
           // border: 1px solid rgba(225,82,82,0.4) !important;
        .ant-message-error{
            display: flex;
            column-gap: 4px;
            align-items: center;
            }
        }
    }

}

//骨架屏
.skeleton_Input{
    width: 60px !important;
    height: 28px !important;
    min-width: 50px !important;
    >.ant-skeleton-input{
        min-width:50px
    }
}

//select 
.custom_select{
    font-size: 14px !important;
    min-width: 150px;
    &:hover{
        .ant-select-selector{
            border-color: var(--primary) !important;  
        }
    }
    .ant-select-arrow{
        color: var(--font-color) !important;
    }
    .ant-select-selector{
          cursor: pointer;
        padding: 3px 16px !important;
        height:32px !important;
        border: 1px solid var(--border-color) !important;
        background-color: var(--bgDesColor) !important;
        .ant-select-selection-item{
            &::after{
                top: -8px;
            };
            display: flex;
            align-items: center;
            line-height: 28px;
              font-size: 12px;
            font-family: DINPro-Medium, DINPro;
            font-weight: 500;
            color: var(--font-color);
        }
        .ant-select-selection-search-input {
            height: 100% !important;
            font-size: 12px;
            font-family: DINPro-Medium, DINPro;
            font-weight: 500;
            color: var(--font-color);
             cursor: pointer;
        }
    }
    .ant-select-selection-placeholder{
        display: flex;
        align-items: center;
        color: var(--font_des) !important;
    }

}
    .custom_select_wrapper{
    padding: 16px;
    color: var(--font-color);
    border: var(--border-color) !important;
    background-color: var(--select-bgColor) !important ;
    box-shadow: 0px 1px 7px -1px var(--select-shadow) !important;
  .ant-select-item:not(.custom_options_item){
    color: var(--font-color) !important;
    margin-bottom: 4px;
     &:hover{
        color: var(--primary) !important;
        background-color: var(--bg_hover) !important;
     }
     .ant-select-item-option-content{
        cursor: pointer;
     }
     
  }
  .ant-select-item-option-selected{
  background-color: var(--bg_hover) !important;
  color:var(--primary) !important;
  .ant-select-item-option-content{
    color:var(--primary) !important;
  }
  }
  .custom_options_item{
    .ant-select-item-option-content{
        display: flex !important;
        align-items: center;
        column-gap: 8px;
        cursor: pointer;
        &:hover{
            color: var(--primary);
        }
    }
  }
 
}


.no_border_select{
    border-color: transparent !important;
      &:hover{
        .ant-select-selector{
            border-color: transparent !important
        }
    }
    .ant-select-selector{
        cursor: pointer;
     
        border: 1px solid transparent !important;
        background-color:var(--bgDesColor)!important;
        // .ant-select-selection-search-input {
        //      height:42px !important;
        // }
    }
}


//ant-modal
.ant-modal-root{

    .ant-modal-content{
        background-color: var(--bgColor) !important;
        color: var(--font-color) !important;
        .ant-modal-header{
            text-align: center;
            background-color: transparent;
            .ant-modal-title{
                color: var(--font-color) !important;
            }
            
        }
        .ant-modal-close-x{
            .ant-modal-close-icon{
                color: var(--font-color);
            }
        }
    }
}

.noPaddingModal{
      .ant-modal-content{
        padding: 0px !important;
      }
}


.custom_collapse_gaps{
        border: none;
        background-color: var(--bgColor) !important;
         color: var(--font-color);
    .ant-collapse-item{
        color: var(--font-color);
        margin: 20px 0px;
        height: calc(100% - 20px);
        border: 1px solid var(--border-color);
        border-radius: 12px !important;
        background-color: var(--bgColor);
       // border-bottom:1px solid var(--border-color)
     }
     .ant-collapse-content{
            background-color: var(--bgColor);
            border-top: 1px solid var(--border-color);
            border-radius: 0px 0px 12px 12px !important;
        .ant-collapse-content-box{
             border-radius: 0px 0px 12px 12px;
              background-color: var(--bgColor)
        }
     }
}
.custom_Collapse{
  border: 1px solid var(--border-color) !important;
  .ant-collapse-item{
 border-color: transparent !important;
  }
}
.ant-collapse {
   
}
  .ant-collapse-item{
        width: 100%;
        border-radius: 11px !important;
        border: 1px solid var(--border-color) !important;
        .ant-collapse-header{
            display: flex !important; 
            align-items: center !important;
            padding: 20px 30px ;
             color: var(--font-color) !important;
            .ant-collapse-expand-icon{
                cursor: pointer;
            }
             .ant-collapse-header-text{
            flex: 1 !important;
            .custom_Collapse_item{
                width: 100%;
            }
        }
        }
    &:last-child{
         .ant-collapse-header{
            border-radius: 12px !important;
         }
    }
    }

//date 
.custom_picker{
    position: relative;
    border-radius: 5px;
    min-width: 120px;
    border: 1px solid var(--border-color);
    background-color: var(--bgDesColor);
    width: fit-content;
    height: 36px;
    &_pre{
        position: absolute;
        left: 10px;
        top: 50%;
     transform: translate(0px, -50%);
    }
    .custom_date_picker{
        .ant-picker-input{
            padding-left: 20px;
             color: var(--font-color);
            input{
                color: var(--font-color);
            }
           
        }
    }

}

.custom_date_picker{
    width: auto;
    height: inherit;
    .ant-picker-input{
        font-size: 12px;
        font-family: DINPro-Medium, DINPro;
        font-weight: 500;
        color: #000000;
    }
  
}
.custom_date_picker_wrap{
    thead{
        th{
            color: var(--font_des) !important;
        }
        
    }
    .ant-picker-panel-container{
        background-color: var(--select-bgColor) ;
        box-shadow: 0px 1px 7px -1px var(--select-shadow);
        color: var(--font-color);
    }
    .ant-picker-date-panel{
        .ant-picker-header{
                color: var(--font-color);
                button{
                        color: var(--font-color);
                }
        }
        .ant-picker-content{
            th{
               color: var(--font-color);
            }
            tbody{
                tr{
                    &:last-child{
                        display: none
                    }
                }
            }
            .ant-picker-cell{
                   .ant-picker-cell-inner {
                        color: var(--font_des);
                } 
            }
            .ant-picker-cell-in-view{
                .ant-picker-cell-inner{
                color: var(--font-color);
                border-radius: 5px;
                min-width: 30px;
                height: 30px;
                line-height: 30px;
                }
            }
               .ant-picker-cell-selected{
                .ant-picker-cell-inner{
                background-color: var(--primary) !important;
                color: var(--activeColor) !important;
                }
              
            }
           
            .ant-picker-cell-disabled{
                &::before{
                    display: none;
                }
                .ant-picker-cell-inner {
                        color: var(--font_des_unit);
                }
            }
        }
    }
}

//tooltip 
.ant-popover-arrow{
    &::before{
        background-color: var(--bgColor) !important;
        box-shadow: 0px 2px 30px -2px var(--card-shadow);          

    }
    
}
.ant-popover-content{
    background-color: var(--bgColor);
    .ant-popover-inner{
        background-color: var(--bgColor);
          box-shadow: 0px 2px 30px -2px var(--card-shadow);          
          color: var(--font-color);
          .ant-popconfirm-title,.ant-popconfirm-description{
             color: var(--font-color);
          }
          .ant-popconfirm-buttons{
            color: var(--font-color);
            .button{
        border: 1px solid var(--border-color);

            }
            .ant-btn-default{
                color: var(--font-color);
                background-color: var(--border-color) ;
               
            }
            .ant-btn-primary{
                color: var(--font-color);
            }
          }
    }
}

//modal 
.custom_modal{
    width: 100%;
}
.ant-modal-mask{
    background-color: rgba(0, 0, 0, 0.3) !important;
}
.custom_modal_wrapper{
    width: 100%;
    height: 100%;
 
    .custom_modal{
        width: fit-content !important;
        top: 25%;
        font-size: 14px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #000000;
  
    }
    .ant-modal-footer{
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
    }

}

.ant-btn-default{
    border-color: var(--border-color) !important;
}

//custom_checkbox
.custom_checkbox{
    color: var(--font-color) !important;
}





input:-webkit-autofill {
    -webkit-text-fill-color: var(--font-color) !important;
    transition: background-color 5000s ease-in-out 0s;
    -webkit-box-shadow: 0 0 0px 1000px var(--bgColor) inset;
}

.ant-carousel {
//  .slick-slide{
// margin-left: 2px;  

// }
// .slick-active{
//     margin-left: 0px;
// }
.carousel-image{
    width: calc(100% - 3px) !important;
    margin: auto;
}
}