@tailwind base;
@tailwind components;
@tailwind utilities;

:root,:root[theme='light']{
     --bgColor:#FFFFFF;
    --font-color:#000000;
    --select-shadow: rgba(223,227,234,0.6);
    --card-shadow: rgba(223,227,234,0.6);
    --bg_hover:rgba(28, 106, 253, 0.1);
    --font_des:rgba(0,0,0,0.6);
    --primary: #1C6AFD;

}

@media (prefers-color-scheme: dark) {
  :root,:root[theme='dark'] {
   --bgColor:#000000;
   --font-color:#ffffff;
    --bg_hover:rgba(28, 106, 253, 0.1);
   --font_des:rgba(0,0,0,0.6);
   --primary: #1C6AFD;

  
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

a{
  color: #1C6AFD;
}
.main_contain{
  max-width: 1440px;
  width: 100%;
  padding: 50px 94px;
  margin: auto;
  box-sizing: content-box;
}