@tailwind base;
@tailwind components;
@tailwind utilities;

:root,:root[theme='light']{
     --bgColor:#FFFFFF;
     --main-bg-color:#F9F9F9;
     --reverse-color:'#000000';
    --font-color:#000000;
    --select-shadow: rgba(223,227,234,0.6);
    --card-shadow: rgba(223,227,234,0.6);
     --tab-shadow:rgba(0,0,0,0.1);
    --bg_hover:rgba(28, 106, 253, 0.1);
    --font_des:rgba(0,0,0,0.6);
    --primary: #1C6AFD;
     --border-color:#e6e6e6;
    --bgDesColor:#F6F6F6;






}

 :root,:root[theme='dark'] {
   --bgColor:#000000;
    --main-bg-color:#090A0A;
   --reverse-color:'#FFFFFF';
   --font-color:#ffffff;
    --bg_hover:rgba(28, 106, 253, 0.1);
    --bgDesColor: #1C1C1C;
   --font_des:rgba(255,255,255,0.6);
   --primary: #1C6AFD;
   --select-shadow: rgba(223,227,234,0.6);
  --card-shadow: rgba(0,0,0,0.4);
  --tab-shadow:rgba(0,0,0,0.1);
    --border-color:#222222;



  }
  html{
    width: 100%;
    height: 100%;
  }

body {
  width: 100%;
  height: auto;
}

.container_body{
   width: inherit;
  height: inherit;

}
.ant-layout-content{
   color: var(--font-color);
  background-color: var(--main-bg-color);
}

#__next{
  width: inherit;
  height: inherit;
}
.main_contain{
  max-width: 1440px;
  height: 100%;
  width: 100%;
  margin: auto;
  padding:0px;
  box-sizing: content-box;
  color: var(--font-color);
  background-color: var(--main-bg-color); 
  overflow: auto;
}

@media only screen and (max-width: 1440px){
  .main_contain{
    padding: 20px 90px;
  }
 
}