@font-face {
  font-family: 'iconfont'; /* Project id  */
  src: url('../assets/font/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-quanyiicon:before {
  content: '\e673';
}

.icon-vip:before {
  content: '\e674';
}

.icon-logo:before {
  content: '\e675';
}

.icon-guanbianniu:before {
  content: '\e676';
}
