@media screen and (min-width: 1000px){
    .list{
      display: grid;

      grid-template-columns: (25% 30% 30% 15%);
    }
  
}
@media screen and (max-width: 1000px){
  .overview{
    :global{
      .between{
        justify-content: space-between;
      }
    }
    .title {
      margin-block: 20px;
    }
    .list{
      flex-direction: column;
      flex-wrap: nowrap;
      height: auto;
      border-radius: 6px;
      .list-row{
        display: flex;
        align-items: center;
        justify-content: space-between !important;
        width: 100% !important;
      }
    }
  }
}